/* Estilos Globales */
html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

a:hover {
    color: #FFD700;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 136, 206);
    height: 80px;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.divLeft {
    display: flex;
    align-items: center;
    gap: 30px;
}

.divLeft a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.divRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

/* Tarjetas */
.cards1 {
    display: flex;
    justify-content: center;
    margin: 120px 20px 50px;
    gap: 20px;
}

.cards1 img {
    width: 250px;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards1 img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cards1 div {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    width: 300px;
    height: 350px;
    border-radius: 7px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}

.cards1 div:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cards1 h3, .cards1 p {
    margin: 25px;
    margin-bottom: -10px;
}

/* Footer */
.footerD {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(50, 136, 206);
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.icons img {
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icons img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: rgb(50, 136, 206);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.footerPiso {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(40, 116, 186);
    border-radius: 5px;
}

.footerPiso p {
    margin: 0;
    color: white;
}
